:root {
  --color-black: #14110F;
  --color-black-light: #34312D;
  --color-grey: #7E7F83;
  --color-sand: #D9C5B2;
  --color-white: #F3F3F4;
}

$default-color: #000;
$main-color: var(--background-color);
$sub-color: var(--background-color-sub);
$progress-color: var(--progress-color);
$button-color: rgba(240, 81, 83, 0.95);
$hover-color: var(--color-hover);
$text-sub-color: var(--color-hover);
$text-color: var(--color-text);
$subtitle-color: rgba(0, 0, 0, 0.6);
$border-color: var(--border-color);

$scroll-color: var(--progress-color);
$bg-scroll-color: rgba(0, 0, 0, 0.2);

$box-shadow-common: var(--box-shadow);
