:root {
  --border-color: #ccc;
  --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  --background-color: #fff;
  --background-color-sub: #fff;
  --color-hover: #1bc2ca;
  --color-text: rgba(0, 0, 0, 0.9);
  --progress-color: #1bc2ca;
}

$default-color: #000;
$main-color: var(--background-color);
$sub-color: var(--background-color-sub);
$progress-color: var(--progress-color);
$button-color: rgba(240, 81, 83, 0.95);
$hover-color: var(--color-hover);
$text-sub-color: var(--color-hover);
$text-color: var(--color-text);
$subtitle-color: rgba(0, 0, 0, 0.6);
$border-color: var(--border-color);

$scroll-color: var(--progress-color);
$bg-scroll-color: rgba(0, 0, 0, 0.2);

$box-shadow-common: var(--box-shadow);
